@using System.ComponentModel
@using PaymentPointFinder.Core.Models
@model MapViewModel

@{
    ViewBag.Title = "Payment Points Map";
    Layout = "_Layout";
    System.Threading.Thread.CurrentThread.CurrentCulture = System.Globalization.CultureInfo.InvariantCulture;
}

<div class="text-center">
    <h1 class="display-4">Mappa dei punti di pagamento</h1>
</div>

<style>
    #map {
        width:  800px;
        height: 800px;
    }
</style>

<div class="d-flex justify-content-center">
    <div id="map"></div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
    var lat = @Model.DefaultLatitude;
    var long = @Model.DefaultLongitude;
    var zoom = @Model.DefaultZoom;
    var points = @Json.Serialize(Model.Points);
    var map = L.map('map').setView([lat, long], zoom);

    points.forEach((point) => {
        L.marker([point.YWGS84, point.xWGS84]).bindTooltip(point.DENOM + ' - ' + point.SOTTOCAT, {
            direction: 'top',
            offset: [-15, -10],
            permanent: false,
        }).addTo(map);
    });

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var lastMarker = null;

    map.on('dblclick', function (e) {
        if (lastMarker) {
            map.removeLayer(lastMarker);
        }
        lastMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

    });
</script>