@using PaymentPointFinder.Core.Models
@model MapViewModel

@{
    ViewBag.Title = "Payment Points Map";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Mappa dei punti di pagamento</h1>
</div>
